[submodule "src/dependencies/glfw"]
	path = src/dependencies/glfw
	url = https://github.com/elmindreda/glfw.git
[submodule "src/dependencies/osi_clp"]
	path = src/dependencies/osi_clp
	url = https://github.com/openMVG-thirdparty/osi_clp.git
