[submodule "src/dependencies/glfw"]
	path = src/dependencies/glfw
	url = git://github.com/elmindreda/glfw.git
[submodule "src/dependencies/OpenExif"]
	path = src/dependencies/OpenExif
	url = https://github.com/pmoulon/OpenExif.git
